.Container {
  height: 100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .loginform {
    width: 50vw;
    padding-top: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #Empregador,
  #Programador {
    filter: blur(1px);
  }

  #Empregador:hover {
    filter: blur(0px);
  }

  #Programador:hover {
    filter: blur(0px);
  }

  .Titulo,
  .EntrarProgramador,
  .EntrarEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100px;

    font-size: 3rem;

    border-radius: 15px;
    background-color: rgb(19, 42, 46);
  }

  .EntrarEmpresa {
    background-color: #e3e5e9;

    .Linkedin {
      cursor: pointer;
    }
  }

  .EntrarProgramador {
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 80vh;
    position: absolute;
    background-color: #e3e5e9;

    .Github {
      cursor: pointer;
    }
  }
}
