.Container {
  height: 100;
  min-height: 100vh;
  width: auto;

  .ContainerJob {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .layoutVagas {
      padding: 5px;

      display: flex;
      justify-content: space-between;

      height: auto;
      width: 85vw;
      margin: 5px;
      background-color: #ffff;

      border-radius: 10px;

      .titulo {
        display: flex;
        align-items: center;

        p {
          font-size: 1.4rem;
        }
      }

      .vagaDados {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        font-size: 1.3rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;

        flex-wrap: wrap;

        justify-content: space-around;
        align-items: center;

        p {
          font-size: 1.3rem;
          text-align: center;
        }

        li {
          color: #4d5f64;
          font-size: 1.3rem;
        }
      }

      p {
        color: #121214;
      }

      .buttonLayout {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          cursor: pointer;
          height: 5rem;
          width: 8rem;
          border-radius: 10px;
          border-style: solid;
          border-width: 1px;
          font-size: 1.3rem;

          transition: 5ms;
        }

        button:active {
          background-color: rgba(42, 122, 168, 0.616);
          color: #ffff;
        }
      }
    }
  }
}
